<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>herostay1.png</key>
		<dict>
			<key>frame</key>
			<string>{{62,57},{53,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,58}}</string>
			<key>sourceSize</key>
			<string>{53,58}</string>
		</dict>
		<key>herostay2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,111},{51,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,58}}</string>
			<key>sourceSize</key>
			<string>{51,58}</string>
		</dict>
		<key>herostay3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,58},{51,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,58}}</string>
			<key>sourceSize</key>
			<string>{51,58}</string>
		</dict>
		<key>herostay4.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{54,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,58}}</string>
			<key>sourceSize</key>
			<string>{54,58}</string>
		</dict>
		<key>herostay5.png</key>
		<dict>
			<key>frame</key>
			<string>{{62,2},{53,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,58}}</string>
			<key>sourceSize</key>
			<string>{53,58}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>herostay.png</string>
		<key>size</key>
		<string>{128,256}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:cbd13ec041d8d7cc71d9505b0bed9b25:1/1$</string>
		<key>textureFileName</key>
		<string>herostay.png</string>
	</dict>
</dict>
</plist>
